:root {
    --lightBlue: rgb(151, 230, 238);
    --darkGrey: rgb(85, 76, 85);
}

header {
    background-color: var(--darkGrey);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1%; */
}

h1 {
    border: solid var(--lightBlue);
    background-color: var(--lightBlue);
    padding-left: 60px;
}

#myName {
    text-align: left;
    font-size: 70px;
    color: var(--darkGrey);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav a {
    color: var(--lightBlue);
    font-weight: bold;
    margin-left: 20px;
    font-size: 130%;
    margin-right: 10px;
}

/* reference Advance CSS activity 1 */
@media screen and (max-width:992px) {
    
}

@media screen and (max-width: 768px) {
    
}